ioc_dashboard_backup.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>bcc0f7c8-0198-1000-8630-1d03ce06e09e</groupId>
    <name>ioc_dashboard_backup</name>
    <snippet>
        <controllerServices>
            <id>24182ff7-0c85-383e-0000-000000000000</id>
            <parentGroupId>6d74c433-e541-34f7-0000-000000000000</parentGroupId>
            <versionedComponentId>24182ff7-0c85-383e-8772-e25f1722e453</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-registry-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.26.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>avro-reg-validated-field-names</key>
                    <value>
                        <name>avro-reg-validated-field-names</name>
                    </value>
                </entry>
                <entry>
                    <key>users</key>
                    <value>
                        <name>users</name>
                    </value>
                </entry>
            </descriptors>
            <name>AvroSchemaRegistry</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>avro-reg-validated-field-names</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>users</key>
                    <value>{
  "type": "record",
  "name": "User",
  "namespace": "example.avro",
  "fields": [
    {
      "name": "Username",
      "type": "string"
    },
    {
      "name": "Identifier",
      "type": "int"
    },
    {
      "name": "First_name",
      "type": "string"
    },
    {
      "name": "Last_name",
      "type": "string"
    }
  ]
}
</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.schemaregistry.services.AvroSchemaRegistry</type>
        </controllerServices>
        <controllerServices>
            <id>b16c4c14-2450-3d0e-0000-000000000000</id>
            <parentGroupId>6d74c433-e541-34f7-0000-000000000000</parentGroupId>
            <versionedComponentId>b16c4c14-2450-3d0e-800e-f8fdfc58345d</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.26.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>Allow Scientific Notation</key>
                    <value>
                        <name>Allow Scientific Notation</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <dependencies>
                            <dependentValues>gzip</dependentValues>
                            <propertyName>compression-format</propertyName>
                        </dependencies>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriter_DEMO</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>24182ff7-0c85-383e-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>Allow Scientific Notation</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-array</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>db063d77-7eab-36e6-0000-000000000000</id>
            <parentGroupId>6d74c433-e541-34f7-0000-000000000000</parentGroupId>
            <versionedComponentId>db063d77-7eab-36e6-8b9f-c438c983c495</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.26.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                        <name>kerberos-user-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>pool_publicapp</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:arrow-flight-sql://dremio.dremio.svc:32010/?useEncryption=false</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>org.apache.arrow.driver.jdbc.ArrowFlightJdbcDriver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>/opt/nifi/nifi-current/java/flight-sql-jdbc-driver-18.3.0.jar</value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>katalyst</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>select 1</value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <processGroups>
            <id>f120880f-1677-3c93-0000-000000000000</id>
            <parentGroupId>6d74c433-e541-34f7-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>f120880f-1677-3c93-ad8b-1df0889a9d57</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>0123f672-5d89-3e99-0000-000000000000</id>
                    <parentGroupId>f120880f-1677-3c93-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f120880f-1677-3c93-0000-000000000000</groupId>
                        <id>d8e1d9b3-7c31-3391-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>d8e1d9b3-7c31-3391-ae25-461be0eef4ef</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f120880f-1677-3c93-0000-000000000000</groupId>
                        <id>91751055-473d-3f81-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>91751055-473d-3f81-b94f-d03ac2ac6229</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5fb8fb2c-9ac3-3934-0000-000000000000</id>
                    <parentGroupId>f120880f-1677-3c93-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f120880f-1677-3c93-0000-000000000000</groupId>
                        <id>1542aea9-a57e-3894-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f120880f-1677-3c93-0000-000000000000</groupId>
                        <id>42444fea-419a-3999-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>60b0faf1-f262-3193-0000-000000000000</id>
                    <parentGroupId>f120880f-1677-3c93-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f120880f-1677-3c93-0000-000000000000</groupId>
                        <id>76947a85-1477-328c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f120880f-1677-3c93-0000-000000000000</groupId>
                        <id>6b6b0233-293c-3c25-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>65d27a82-e3e9-3226-0000-000000000000</id>
                    <parentGroupId>f120880f-1677-3c93-0000-000000000000</parentGroupId>
                    <versionedComponentId>65d27a82-e3e9-3226-9293-a4d7841347f2</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f120880f-1677-3c93-0000-000000000000</groupId>
                        <id>91751055-473d-3f81-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>91751055-473d-3f81-b94f-d03ac2ac6229</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_INACTIVE</loadBalanceStatus>
                    <loadBalanceStrategy>SINGLE_NODE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>f120880f-1677-3c93-0000-000000000000</groupId>
                        <id>239cc80b-f0a6-32f6-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>239cc80b-f0a6-32f6-a367-fbba7db277f8</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9ce492ad-6146-3354-0000-000000000000</id>
                    <parentGroupId>f120880f-1677-3c93-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f120880f-1677-3c93-0000-000000000000</groupId>
                        <id>6b6b0233-293c-3c25-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f120880f-1677-3c93-0000-000000000000</groupId>
                        <id>d4587621-c1d8-3ec2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ba3824ec-33e6-3c34-0000-000000000000</id>
                    <parentGroupId>f120880f-1677-3c93-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f120880f-1677-3c93-0000-000000000000</groupId>
                        <id>d4587621-c1d8-3ec2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f120880f-1677-3c93-0000-000000000000</groupId>
                        <id>1542aea9-a57e-3894-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>cbc601a8-19ec-38f3-0000-000000000000</id>
                    <parentGroupId>f120880f-1677-3c93-0000-000000000000</parentGroupId>
                    <versionedComponentId>cbc601a8-19ec-38f3-992c-bfe9c9ebfdce</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f120880f-1677-3c93-0000-000000000000</groupId>
                        <id>85a89947-d106-3b62-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>85a89947-d106-3b62-9bc4-a962a832c44e</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_INACTIVE</loadBalanceStatus>
                    <loadBalanceStrategy>SINGLE_NODE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>f120880f-1677-3c93-0000-000000000000</groupId>
                        <id>d8e1d9b3-7c31-3391-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>d8e1d9b3-7c31-3391-ae25-461be0eef4ef</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>fa87a9c4-b29b-3ec0-0000-000000000000</id>
                    <parentGroupId>f120880f-1677-3c93-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f120880f-1677-3c93-0000-000000000000</groupId>
                        <id>42444fea-419a-3999-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f120880f-1677-3c93-0000-000000000000</groupId>
                        <id>85a89947-d106-3b62-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>85a89947-d106-3b62-9bc4-a962a832c44e</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <inputPorts>
                    <id>239cc80b-f0a6-32f6-0000-000000000000</id>
                    <parentGroupId>f120880f-1677-3c93-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1952.0</x>
                        <y>48.0</y>
                    </position>
                    <versionedComponentId>239cc80b-f0a6-32f6-a367-fbba7db277f8</versionedComponentId>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>in_dashboard_ioc</name>
                    <state>RUNNING</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <processors>
                    <id>1542aea9-a57e-3894-0000-000000000000</id>
                    <parentGroupId>f120880f-1677-3c93-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1312.0</x>
                        <y>1208.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.26.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
<value>
    <name>sql-pre-query</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
<value>
    <name>sql-post-query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>
    <name>compression-format</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>
    <name>esql-max-rows</name>
</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>
    <name>esql-output-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>
    <name>esql-fetch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>
    <name>esql-auto-commit</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>db063d77-7eab-36e6-0000-000000000000</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
<value>DELETE FROM LAKEHOUSE.REPORT.IOC_DB_LV2_AN WHERE KY_BAOCAO='Y' AND THOIGIAN=  ${v_nam}</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>INSERT INTO LAKEHOUSE.REPORT.IOC_DB_LV2_AN(
LOAD_TIME,
KY_BAOCAO,
THOIGIAN,
NAM,
THANG,
TUAN,
LOAIAN,
LOAI_AN_TEN,
LOAI_TOA,
FLAG_ST_PT,
TOA_GIAI_QUYET_ID,
TOA_GIAI_QUYET_TEN,
TOA_CAP_CHA_ID,
TOA_CAP_CHA_TEN,
TOA_GIAI_QUYET_LOAITOA,
TONG_PHAI_GIAIQUYET,
TONG_DA_GIAIQUYET,
TONG_PHAI_GIAIQUYET_CUNGKY,
TONG_DA_GIAIQUYET_CUNGKY,
TONG_HUY_SUA,
TONG_HUY_SUA_CUNGKY,
TONG_DA_GIAIQUYET_THANG1,
TONG_DA_GIAIQUYET_THANG2,
TONG_DA_GIAIQUYET_THANG3,
TONG_DA_GIAIQUYET_THANG4,
TONG_DA_GIAIQUYET_THANG5,
TONG_DA_GIAIQUYET_THANG6,
TONG_DA_GIAIQUYET_THANG7,
TONG_DA_GIAIQUYET_THANG8,
TONG_DA_GIAIQUYET_THANG9,
TONG_DA_GIAIQUYET_THANG10,
TONG_DA_GIAIQUYET_THANG11,
TONG_DA_GIAIQUYET_THANG12
)
SELECT 
CURRENT_TIME() AS LOAD_TIME,
'Y' KY_BAOCAO,
CAST(TH.NAM AS BIGINT) AS  THOIGIAN,
CAST(TH.NAM AS BIGINT) AS NAM,
CAST(NULL AS BIGINT) AS THANG,
CAST(NULL AS BIGINT) TUAN,
TH.LOAIAN,
TH.LOAI_AN_TEN,
TH.LOAI_TOA,
TH.FLAG_ST_PT,
TH.TOA_GIAI_QUYET_ID,
TH.TOA_GIAI_QUYET_TEN,
TH.TOA_CAP_CHA_ID,
TH.TOA_CAP_CHA_TEN,
TH.TOA_GIAI_QUYET_LOAITOA,
TH.TONG_PHAI_GIAIQUYET,
TH.TONG_DA_GIAIQUYET,
TH.TONG_PHAI_GIAIQUYET_CUNGKY,
TH.TONG_DA_GIAIQUYET_CUNGKY,
TH.TONG_HUY_SUA,
TH.TONG_HUY_SUA_CUNGKY,
TH.TONG_DA_GIAIQUYET_THANG1,
TH.TONG_DA_GIAIQUYET_THANG2,
TH.TONG_DA_GIAIQUYET_THANG3,
TH.TONG_DA_GIAIQUYET_THANG4,
TH.TONG_DA_GIAIQUYET_THANG5,
TH.TONG_DA_GIAIQUYET_THANG6,
TH.TONG_DA_GIAIQUYET_THANG7,
TH.TONG_DA_GIAIQUYET_THANG8,
TH.TONG_DA_GIAIQUYET_THANG9,
TH.TONG_DA_GIAIQUYET_THANG10,
TH.TONG_DA_GIAIQUYET_THANG11,
TH.TONG_DA_GIAIQUYET_THANG12
FROM VW_IOC.VW_IOC_LV2_AN_YEAR TH WHERE NAM= ${v_nam}</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>true</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>30 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>insert_IOC_DB_LV2_AN_YEAR</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                </processors>
                <processors>
                    <id>42444fea-419a-3999-0000-000000000000</id>
                    <parentGroupId>f120880f-1677-3c93-0000-000000000000</parentGroupId>
                    <position>
                        <x>-2024.0</x>
                        <y>1200.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.26.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
<value>
    <name>sql-pre-query</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
<value>
    <name>sql-post-query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>
    <name>compression-format</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>
    <name>esql-max-rows</name>
</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>
    <name>esql-output-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>
    <name>esql-fetch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>
    <name>esql-auto-commit</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>db063d77-7eab-36e6-0000-000000000000</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
<value>DELETE FROM LAKEHOUSE.REPORT.IOC_DB_LV1_TOATINH WHERE NAM= ${v_nam}</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>INSERT INTO LAKEHOUSE.REPORT.IOC_DB_LV1_TOATINH (
NAM,
ID_TOA_TINH,
TEN_TOA_TINH,
TONG_PHAI_GIAIQUYET,
TONG_DA_GIAIQUYET
)
SELECT NAM,
ID_TOA_TINH,
TEN_TOA_TINH,
TONG_PHAI_GIAIQUYET,
TONG_DA_GIAIQUYET FROM VW_IOC.VW_IOC_LV1_AN_TOATINH WHERE  NAM= ${v_nam}</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>true</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>30 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>insert_IOC_DB_LV1_TOATINH</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                </processors>
                <processors>
                    <id>6b6b0233-293c-3c25-0000-000000000000</id>
                    <parentGroupId>f120880f-1677-3c93-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1288.0</x>
                        <y>584.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.26.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
<value>
    <name>sql-pre-query</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
<value>
    <name>sql-post-query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>
    <name>compression-format</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>
    <name>esql-max-rows</name>
</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>
    <name>esql-output-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>
    <name>esql-fetch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>
    <name>esql-auto-commit</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>db063d77-7eab-36e6-0000-000000000000</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
<value>DELETE FROM LAKEHOUSE.REPORT.IOC_DB_LV2_AN WHERE KY_BAOCAO='W'</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>INSERT INTO LAKEHOUSE.REPORT.IOC_DB_LV2_AN(
LOAD_TIME,
KY_BAOCAO,
THOIGIAN,
NAM,
THANG,
TUAN,
LOAIAN,
LOAI_AN_TEN,
LOAI_TOA,
FLAG_ST_PT,
TOA_GIAI_QUYET_ID,
TOA_GIAI_QUYET_TEN,
TOA_CAP_CHA_ID,
TOA_CAP_CHA_TEN,
TOA_GIAI_QUYET_LOAITOA,
TONG_PHAI_GIAIQUYET,
TONG_DA_GIAIQUYET,
TONG_PHAI_GIAIQUYET_CUNGKY,
TONG_DA_GIAIQUYET_CUNGKY,
TONG_HUY_SUA,
TONG_HUY_SUA_CUNGKY,
TONG_DA_GIAIQUYET_THANG1,
TONG_DA_GIAIQUYET_THANG2,
TONG_DA_GIAIQUYET_THANG3,
TONG_DA_GIAIQUYET_THANG4,
TONG_DA_GIAIQUYET_THANG5,
TONG_DA_GIAIQUYET_THANG6,
TONG_DA_GIAIQUYET_THANG7,
TONG_DA_GIAIQUYET_THANG8,
TONG_DA_GIAIQUYET_THANG9,
TONG_DA_GIAIQUYET_THANG10,
TONG_DA_GIAIQUYET_THANG11,
TONG_DA_GIAIQUYET_THANG12
) 
SELECT 
CURRENT_TIME() AS LOAD_TIME, 
'W' KY_BAOCAO,
CAST(TH.TUAN AS BIGINT) AS  THOIGIAN,
CAST(NULL AS BIGINT) AS NAM,
CAST(NULL AS BIGINT) AS THANG,
CAST(TH.TUAN AS BIGINT) TUAN,
TH.LOAIAN,
TH.LOAI_AN_TEN,
TH.LOAI_TOA,
TH.FLAG_ST_PT,
TH.TOA_GIAI_QUYET_ID,
TH.TOA_GIAI_QUYET_TEN,
TH.TOA_CAP_CHA_ID,
TH.TOA_CAP_CHA_TEN,
TH.TOA_GIAI_QUYET_LOAITOA,
TH.TONG_PHAI_GIAIQUYET,
TH.TONG_DA_GIAIQUYET,
TH.TONG_PHAI_GIAIQUYET_CUNGKY,
TH.TONG_DA_GIAIQUYET_CUNGKY,
TH.TONG_HUY_SUA,
TH.TONG_HUY_SUA_CUNGKY, 
NULL AS TONG_DA_GIAIQUYET_THANG1, 
NULL AS TONG_DA_GIAIQUYET_THANG2, 
NULL AS TONG_DA_GIAIQUYET_THANG3, 
NULL AS TONG_DA_GIAIQUYET_THANG4, 
NULL AS TONG_DA_GIAIQUYET_THANG5, 
NULL AS TONG_DA_GIAIQUYET_THANG6, 
NULL AS TONG_DA_GIAIQUYET_THANG7, 
NULL AS TONG_DA_GIAIQUYET_THANG8, 
NULL AS TONG_DA_GIAIQUYET_THANG9, 
NULL AS TONG_DA_GIAIQUYET_THANG10, 
NULL AS TONG_DA_GIAIQUYET_THANG11, 
NULL AS TONG_DA_GIAIQUYET_THANG12
FROM VW_IOC.VW_IOC_LV2_AN_WEEK_HIENTAI  TH </value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>true</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>30 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>insert_IOC_DB_LV2_AN_TUANHIENTAI</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                </processors>
                <processors>
                    <id>76947a85-1477-328c-0000-000000000000</id>
                    <parentGroupId>f120880f-1677-3c93-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1289.1695080998495</x>
                        <y>315.35937244675983</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.26.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>
    <name>Log FlowFile Properties</name>
</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>
    <name>Output Format</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>Line per Attribute</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>85a89947-d106-3b62-0000-000000000000</id>
                    <parentGroupId>f120880f-1677-3c93-0000-000000000000</parentGroupId>
                    <position>
                        <x>-2008.0</x>
                        <y>896.0</y>
                    </position>
                    <versionedComponentId>85a89947-d106-3b62-9bc4-a962a832c44e</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.26.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
<value>
    <name>sql-pre-query</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
<value>
    <name>sql-post-query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>
    <name>compression-format</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>
    <name>esql-max-rows</name>
</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>
    <name>esql-output-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>
    <name>esql-fetch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>
    <name>esql-auto-commit</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>db063d77-7eab-36e6-0000-000000000000</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
<value>DELETE FROM LAKEHOUSE.REPORT.IOC_DB_LV1 WHERE NAM = ${v_nam}</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>INSERT INTO LAKEHOUSE.REPORT.IOC_DB_LV1 (NAM,
XXTT_TONG_PHIEN_TOANBO,
XXTT_TONG_PHIEN_THEO_NAM,
XXTT_TONG_PHIEN_TRONGNAM_AN_KHAC,
XXTT_TONG_PHIEN_TRONGNAM_AN_HC,
XXTT_TONG_PHIEN_TRONGNAM_AN_HS,
XXTT_TONG_THANG1,
XXTT_TONG_THANG2,
XXTT_TONG_THANG3,
XXTT_TONG_THANG4,
XXTT_TONG_THANG5,
XXTT_TONG_THANG6,
XXTT_TONG_THANG7,
XXTT_TONG_THANG8,
XXTT_TONG_THANG9,
XXTT_TONG_THANG10,
XXTT_TONG_THANG11,
XXTT_TONG_THANG12,
XXTT_TONG_PHIEN_TRONGNGAY,
XXTT_TONG_PHIEN_DANGXX_TRONGNGAY,
AN_TONG_PHAI_GIAIQUYET_HINHSU,
AN_TONG_PHAI_GIAIQUYET_DANSU_MORONG,
AN_TONG_PHAI_GIAIQUYET_HANHCHINH,
AN_TONG_PHAI_GIAIQUYET_BPXLHC,
AN_TONG_DA_GIAIQUYET_HINHSU,
AN_TONG_DA_GIAIQUYET_DANSU_MORONG,
AN_TONG_DA_GIAIQUYET_HANHCHINH,
AN_TONG_DA_GIAIQUYET_BPXLHC,
AN_TONG_PHAI_GIAIQUYET,
AN_TONG_DA_GIAIQUYET,
AN_TONG_PHAI_GIAIQUYET_CUNGKY,
AN_TONG_DA_GIAIQUYET_CUNGKY,
QUOCHOI_AN_CHITIEU_AN_HINHSU,
QUOCHOI_AN_CHITIEU_AN_DANSU_MORONG,
QUOCHOI_AN_CHITIEU_AN_HANHCHINH,
TROLYAO_TONG_SOLUONG_MAHOA,
TROLYAO_TONG_CAUHOI_DAGUI,
TROLYAO_TONG_CAUHOI_DADUYET,
TROLYAO_TONG_SOLUOT_HOIDAP,
HOAGIAI_TONG_YEUCAU,
HOAGIAI_TONG_THANH,
HOAGIAI_TONG_KHONGTHANH,
GSKGM_TONG_TIN_TRONGTUAN,
GSKGM_TONG_TIN_TICHCUC_TRONGTUAN,
GSKGM_TONG_TIN_TIEUCUC_TRONGTUAN,
GSKGM_TONG_TIN_TRUNGLAP_TRONGTUAN,
TCCB_TONG_BIENCHE_DUOCGIAO,
TCCB_TONG_BIENCHE_HIENCO,
TCCB_TONG_THAMPHAN,
TCCB_TONG_THAMTRAVIEN,
TCCB_TONG_THUKYVIEN,
TCCB_TONG_CONGCHUC_VIENCHUC_KHAC,
TCCB_TONG_DANGVIEN,
TCCB_TONG_NGUOI_LAODONG,
GTTT_TONG_PHAI_GIAIQUYET,
GTTT_TONG_DA_GIAIQUYET,
GTTT_TONG_CONLAI,
VBDH_TONG_DEN,
VBDH_TONG_DI,
VBDH_TONG_DEN_DAXULY,
VBDH_TONG_DEN_CHUAXULY,
CBBAQD_TONG_BANAN_QUYETDINH_TOANBO,
CBBAQD_TONG_BANAN_QUYETDINH_TRONGNAM,
CBBAQD_TONG_LUOT_TRUYCAP)
SELECT NAM,
XXTT_TONG_PHIEN_TOANBO,
XXTT_TONG_PHIEN_THEO_NAM,
XXTT_TONG_PHIEN_TRONGNAM_AN_KHAC,
XXTT_TONG_PHIEN_TRONGNAM_AN_HC,
XXTT_TONG_PHIEN_TRONGNAM_AN_HS,
XXTT_TONG_THANG1,
XXTT_TONG_THANG2,
XXTT_TONG_THANG3,
XXTT_TONG_THANG4,
XXTT_TONG_THANG5,
XXTT_TONG_THANG6,
XXTT_TONG_THANG7,
XXTT_TONG_THANG8,
XXTT_TONG_THANG9,
XXTT_TONG_THANG10,
XXTT_TONG_THANG11,
XXTT_TONG_THANG12,
XXTT_TONG_PHIEN_TRONGNGAY,
XXTT_TONG_PHIEN_DANGXX_TRONGNGAY,
AN_TONG_PHAI_GIAIQUYET_HINHSU,
AN_TONG_PHAI_GIAIQUYET_DANSU_MORONG,
AN_TONG_PHAI_GIAIQUYET_HANHCHINH,
AN_TONG_PHAI_GIAIQUYET_BPXLHC,
AN_TONG_DA_GIAIQUYET_HINHSU,
AN_TONG_DA_GIAIQUYET_DANSU_MORONG,
AN_TONG_DA_GIAIQUYET_HANHCHINH,
AN_TONG_DA_GIAIQUYET_BPXLHC,
AN_TONG_PHAI_GIAIQUYET,
AN_TONG_DA_GIAIQUYET,
AN_TONG_PHAI_GIAIQUYET_CUNGKY,
AN_TONG_DA_GIAIQUYET_CUNGKY,
QUOCHOI_AN_CHITIEU_AN_HINHSU,
QUOCHOI_AN_CHITIEU_AN_DANSU_MORONG,
QUOCHOI_AN_CHITIEU_AN_HANHCHINH,
TROLYAO_TONG_SOLUONG_MAHOA,
TROLYAO_TONG_CAUHOI_DAGUI,
TROLYAO_TONG_CAUHOI_DADUYET,
TROLYAO_TONG_SOLUOT_HOIDAP,
HOAGIAI_TONG_YEUCAU,
HOAGIAI_TONG_THANH,
HOAGIAI_TONG_KHONGTHANH,
GSKGM_TONG_TIN_TRONGTUAN,
GSKGM_TONG_TIN_TICHCUC_TRONGTUAN,
GSKGM_TONG_TIN_TIEUCUC_TRONGTUAN,
GSKGM_TONG_TIN_TRUNGLAP_TRONGTUAN,
TCCB_TONG_BIENCHE_DUOCGIAO,
TCCB_TONG_BIENCHE_HIENCO,
TCCB_TONG_THAMPHAN,
TCCB_TONG_THAMTRAVIEN,
TCCB_TONG_THUKYVIEN,
TCCB_TONG_CONGCHUC_VIENCHUC_KHAC,
TCCB_TONG_DANGVIEN,
TCCB_TONG_NGUOI_LAODONG,
GTTT_TONG_PHAI_GIAIQUYET,
GTTT_TONG_DA_GIAIQUYET,
GTTT_TONG_CONLAI,
VBDH_TONG_DEN,
VBDH_TONG_DI,
VBDH_TONG_DEN_DAXULY,
VBDH_TONG_DEN_CHUAXULY,
CBBAQD_TONG_BANAN_QUYETDINH_TOANBO,
CBBAQD_TONG_BANAN_QUYETDINH_TRONGNAM,
CBBAQD_TONG_LUOT_TRUYCAP FROM VW_IOC.VW_IOC_LV1_PHAN1
WHERE  NAM= ${v_nam}</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>true</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>30 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>insert_IOC_DB_LV1</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                </processors>
                <processors>
                    <id>91751055-473d-3f81-0000-000000000000</id>
                    <parentGroupId>f120880f-1677-3c93-0000-000000000000</parentGroupId>
                    <position>
                        <x>-2008.0</x>
                        <y>240.0</y>
                    </position>
                    <versionedComponentId>91751055-473d-3f81-b94f-d03ac2ac6229</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.26.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
<value>
    <name>sql-pre-query</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
<value>
    <name>sql-post-query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>esqlrecord-record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>esqlrecord-record-writer</name>
</value>
                            </entry>
                            <entry>
<key>esqlrecord-normalize</key>
<value>
    <name>esqlrecord-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>
    <name>esql-max-rows</name>
</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>
    <name>esql-output-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>
    <name>esql-fetch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>
    <name>esql-auto-commit</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>db063d77-7eab-36e6-0000-000000000000</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>SELECT TO_CHAR(CURRENT_DATE(),'YYYY') AS NAM,  TO_CHAR(CURRENT_DATE(),'YYYYMM') NAMTHANG</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>esqlrecord-record-writer</key>
<value>b16c4c14-2450-3d0e-0000-000000000000</value>
                            </entry>
                            <entry>
<key>esqlrecord-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>30 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteSQLRecord</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteSQLRecord</type>
                </processors>
                <processors>
                    <id>d4587621-c1d8-3ec2-0000-000000000000</id>
                    <parentGroupId>f120880f-1677-3c93-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1312.0</x>
                        <y>880.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.26.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
<value>
    <name>sql-pre-query</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
<value>
    <name>sql-post-query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>
    <name>compression-format</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>
    <name>esql-max-rows</name>
</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>
    <name>esql-output-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>
    <name>esql-fetch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>
    <name>esql-auto-commit</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>db063d77-7eab-36e6-0000-000000000000</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
<value>DELETE FROM LAKEHOUSE.REPORT.IOC_DB_LV2_AN WHERE KY_BAOCAO='M' AND THOIGIAN=  ${v_namthang}</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>INSERT INTO LAKEHOUSE.REPORT.IOC_DB_LV2_AN(
LOAD_TIME,
KY_BAOCAO,
THOIGIAN,
NAM,
THANG,
TUAN,
LOAIAN,
LOAI_AN_TEN,
LOAI_TOA,
FLAG_ST_PT,
TOA_GIAI_QUYET_ID,
TOA_GIAI_QUYET_TEN,
TOA_CAP_CHA_ID,
TOA_CAP_CHA_TEN,
TOA_GIAI_QUYET_LOAITOA,
TONG_PHAI_GIAIQUYET,
TONG_DA_GIAIQUYET,
TONG_PHAI_GIAIQUYET_CUNGKY,
TONG_DA_GIAIQUYET_CUNGKY,
TONG_HUY_SUA,
TONG_HUY_SUA_CUNGKY,
TONG_DA_GIAIQUYET_THANG1,
TONG_DA_GIAIQUYET_THANG2,
TONG_DA_GIAIQUYET_THANG3,
TONG_DA_GIAIQUYET_THANG4,
TONG_DA_GIAIQUYET_THANG5,
TONG_DA_GIAIQUYET_THANG6,
TONG_DA_GIAIQUYET_THANG7,
TONG_DA_GIAIQUYET_THANG8,
TONG_DA_GIAIQUYET_THANG9,
TONG_DA_GIAIQUYET_THANG10,
TONG_DA_GIAIQUYET_THANG11,
TONG_DA_GIAIQUYET_THANG12
) 
SELECT 
CURRENT_TIME() AS LOAD_TIME,
'M' KY_BAOCAO,
CAST(TH.NAMTHANG AS BIGINT) AS  THOIGIAN,
CAST(TH.NAM AS BIGINT)  AS NAM,
CAST(TH.THANG AS BIGINT)  AS THANG,
CAST(NULL AS BIGINT) WEEK,
TH.LOAIAN,
TH.LOAI_AN_TEN,
TH.LOAI_TOA,
TH.FLAG_ST_PT,
TH.TOA_GIAI_QUYET_ID,
TH.TOA_GIAI_QUYET_TEN,
TH.TOA_CAP_CHA_ID,
TH.TOA_CAP_CHA_TEN,
TH.TOA_GIAI_QUYET_LOAITOA,
TH.TONG_PHAI_GIAIQUYET,
TH.TONG_DA_GIAIQUYET,
TH.TONG_PHAI_GIAIQUYET_CUNGKY,
TH.TONG_DA_GIAIQUYET_CUNGKY,
TH.TONG_HUY_SUA,
TH.TONG_HUY_SUA_CUNGKY, 
NULL AS TONG_DA_GIAIQUYET_THANG1, 
NULL AS TONG_DA_GIAIQUYET_THANG2, 
NULL AS TONG_DA_GIAIQUYET_THANG3, 
NULL AS TONG_DA_GIAIQUYET_THANG4, 
NULL AS TONG_DA_GIAIQUYET_THANG5, 
NULL AS TONG_DA_GIAIQUYET_THANG6, 
NULL AS TONG_DA_GIAIQUYET_THANG7, 
NULL AS TONG_DA_GIAIQUYET_THANG8, 
NULL AS TONG_DA_GIAIQUYET_THANG9, 
NULL AS TONG_DA_GIAIQUYET_THANG10, 
NULL AS TONG_DA_GIAIQUYET_THANG11, 
NULL AS TONG_DA_GIAIQUYET_THANG12
FROM VW_IOC.VW_IOC_LV2_AN_MONTH TH WHERE  NAMTHANG = ${v_namthang} </value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>true</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>30 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>insert_IOC_DB_LV2_AN_THANG</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                </processors>
                <processors>
                    <id>d8e1d9b3-7c31-3391-0000-000000000000</id>
                    <parentGroupId>f120880f-1677-3c93-0000-000000000000</parentGroupId>
                    <position>
                        <x>-2008.0</x>
                        <y>600.0</y>
                    </position>
                    <versionedComponentId>d8e1d9b3-7c31-3391-ae25-461be0eef4ef</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.26.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <dependencies>
        <dependentValues>flowfile-attribute</dependentValues>
        <propertyName>Destination</propertyName>
    </dependencies>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>Max String Length</key>
<value>
    <name>Max String Length</name>
</value>
                            </entry>
                            <entry>
<key>v_nam</key>
<value>
    <name>v_nam</name>
</value>
                            </entry>
                            <entry>
<key>v_namthang</key>
<value>
    <name>v_namthang</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>Max String Length</key>
<value>20 MB</value>
                            </entry>
                            <entry>
<key>v_nam</key>
<value>$[0].NAM</value>
                            </entry>
                            <entry>
<key>v_namthang</key>
<value>$[0].NAMTHANG</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>ioc_dashboard</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>09/04/2025 07:18:47 UTC</timestamp>
</template>
