VPN_POST_UPSERT_BATCH.json
{"flowContents":{"identifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f","instanceIdentifier":"9e7ff072-fd6c-3143-9eb7-ced0df9b705a","name":"VPN_POST_UPSERT_BATCH","comments":"","position":{"x":5080.0,"y":2152.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"996b89e3-3134-3b3e-ba82-f460af47f7b0","instanceIdentifier":"a50c2b85-427e-3852-adfd-fad873a0c129","name":"RouteOnAttribute","comments":"","position":{"x":1064.0,"y":3616.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0"},"properties":{"Routing Strategy":"Route to Property name","count_equals_0":"${new_max_src_scn:equals(\"0\")}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"count_equals_0":{"name":"count_equals_0","displayName":"count_equals_0","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"62f311b6-ecf3-3747-a3e9-71b1aa496e21","instanceIdentifier":"c1075172-1e8c-3939-9e66-fb605d83be47","name":"cập nhật số scn etl job cho lần chạy tiếp theo","comments":"","position":{"x":-328.0,"y":4080.0},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"1b1b0725-8dcf-31c9-b91d-2557d3bfab9d","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"99a1538a-f96b-302c-a56c-750627585c68","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"\nupdate LakeHouse.source.etl_job \nset max_scn= ${new_max_src_scn} \nwhere src_table = '${src_table}'\nand src_schema= '${src_schema}'","esqlrecord-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"1 mins","componentType":"PROCESSOR","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"4d6af398-5947-3aa4-b9a7-9863ee469cb7","instanceIdentifier":"48551724-1227-371b-b945-f897eb9e05ce","name":"EvaluateJsonPath","comments":"","position":{"x":1728.0,"y":3576.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0"},"properties":{"new_max_src_scn":"$.SRC_SCN","Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"new_max_src_scn":{"name":"new_max_src_scn","displayName":"new_max_src_scn","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"85d073f6-65fe-3555-9642-1e3e3323f75f","instanceIdentifier":"dcff5969-820e-34c2-9269-dd3bcaaa35ff","name":"ConvertAvroToJSON","comments":"","position":{"x":1720.0,"y":3184.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"1.26.0"},"properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"42ca5896-425c-3881-ad46-44c9de715a2c","instanceIdentifier":"30975571-019a-1000-ffff-ffffdb971da4","name":"PutS3Object","comments":"","position":{"x":1744.0,"y":4672.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.26.0"},"properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":"http://192.168.1.151","Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"/warehouse/pre_landing/${v_current_date}/${src_table}/${v_hour}/${v_min}/${v_second}_${src_table}.json.gz","AWS Credentials Provider service":"a5ab32b1-4506-328c-a3ae-739c6e908326","Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"data","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":null,"Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"16b62159-f9d0-3268-a612-96132c987d0f","instanceIdentifier":"308f3772-019a-1000-0000-000000934c38","name":"UpdateAttribute","comments":"","position":{"x":1736.0,"y":4368.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.26.0"},"properties":{"v_min":"${now():format('yyyyMMddHHmm')}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","v_second":"${now():format('yyyyMMddHHmmss')}","v_hour":"${now():format('yyyyMMddHH')}","Stateful Variables Initial Value":null,"v_current_date":"${now():format('yyyyMMdd')}"},"propertyDescriptors":{"v_min":{"name":"v_min","displayName":"v_min","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"v_second":{"name":"v_second","displayName":"v_second","identifiesControllerService":false,"sensitive":false},"v_hour":{"name":"v_hour","displayName":"v_hour","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"v_current_date":{"name":"v_current_date","displayName":"v_current_date","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"5de6b82f-eac1-3d8e-b00c-d6e674b2e941","instanceIdentifier":"57f5d8a9-a9a3-3982-a5b8-875da273f0c5","name":"ConvertAvroToJSON","comments":"","position":{"x":-200.0,"y":2928.0},"type":"org.apache.nifi.processors.avro.ConvertAvroToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"1.26.0"},"properties":{"JSON container options":"array","Wrap Single Record":"false","Avro schema":null},"propertyDescriptors":{"JSON container options":{"name":"JSON container options","displayName":"JSON container options","identifiesControllerService":false,"sensitive":false},"Wrap Single Record":{"name":"Wrap Single Record","displayName":"Wrap Single Record","identifiesControllerService":false,"sensitive":false},"Avro schema":{"name":"Avro schema","displayName":"Avro schema","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"5b9cefd4-4bd6-3a4c-ae06-e8e7c2424502","instanceIdentifier":"306cbb1e-019a-1000-0000-00004972b8a5","name":"ConvertRecord","comments":"","position":{"x":1736.0,"y":4120.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0"},"properties":{"record-writer":"d8c370db-0ce4-322a-bd49-81096b8067f9","record-reader":"234bc3f1-7f38-36a9-bfe0-4c8d28c03176","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"0552a76c-07f5-3e8a-9661-3b024d4f315d","instanceIdentifier":"30991957-019a-1000-0000-0000402f5ca3","name":"ExecuteSQL","comments":"","position":{"x":952.0,"y":4488.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"99a1538a-f96b-302c-a56c-750627585c68","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"copy into Lakehouse.${landing_schema}.${landing_table} from '@Minio/data/warehouse/pre_landing/${v_current_date}/${src_table}/${v_hour}/${v_min}/${v_second}_${src_table}.json.gz' FILE_FORMAT 'json'","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"e8234ea3-13fa-3870-b8cf-93ad237ac5d1","instanceIdentifier":"1299d37a-df71-3259-ba79-bbb4ababf870","name":"lấy danh sách bảng etl","comments":"","position":{"x":-192.0,"y":3280.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"99a1538a-f96b-302c-a56c-750627585c68","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"select * from lakehouse.source.etl_job","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"5 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"f5a595b3-061b-37b1-b050-4e433082c204","instanceIdentifier":"ff02867b-fee5-3f55-9db7-9a758d040b4e","name":"merge vào bảng target","comments":"","position":{"x":464.0,"y":4184.0},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"1b1b0725-8dcf-31c9-b91d-2557d3bfab9d","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"99a1538a-f96b-302c-a56c-750627585c68","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"MERGE into lakehouse.${integration_schema}.${integration_table}  t\nUSING ( \n        select * \n        from  lakehouse.${landing_schema}.${landing_table} a  where src_scn >= ${new_max_src_scn}\n        QUALIFY ROW_NUMBER() OVER (\n            PARTITION BY ${src_key_name}\n            ORDER BY src_scn desc\n          ) = 1 ) s \non  t.${src_key_name}= s.${src_key_name}\nwhen MATCHED THEN UPDATE SET *\nWHEN NOT MATCHED THEN INSERT *","esqlrecord-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"1 mins","componentType":"PROCESSOR","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"96d6a7d5-199a-3064-b8bd-cc6b349b2b73","instanceIdentifier":"a1210c21-010d-3d91-8f70-ff3a47503e70","name":"LogAttribute","comments":"","position":{"x":-320.0,"y":3480.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"3d5d4080-a137-3628-a246-0ae353e8acf7","instanceIdentifier":"6124b3d5-6705-3c4d-8597-d1684eeb0fec","name":"phục vụ các biến để transform","comments":"","position":{"x":1120.0,"y":2960.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0"},"properties":{"src_schema":"$.src_schema","Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","landing_table":"$.landing_table","src_key_name":"$.src_key_name","src_table":"$.src_table","integration_schema":"$.integration_schema","Path Not Found Behavior":"ignore","integration_table":"$.integration_table","max_scn":"$.max_scn","landing_schema":"$.landing_schema"},"propertyDescriptors":{"src_schema":{"name":"src_schema","displayName":"src_schema","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"landing_table":{"name":"landing_table","displayName":"landing_table","identifiesControllerService":false,"sensitive":false},"src_key_name":{"name":"src_key_name","displayName":"src_key_name","identifiesControllerService":false,"sensitive":false},"src_table":{"name":"src_table","displayName":"src_table","identifiesControllerService":false,"sensitive":false},"integration_schema":{"name":"integration_schema","displayName":"integration_schema","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"integration_table":{"name":"integration_table","displayName":"integration_table","identifiesControllerService":false,"sensitive":false},"max_scn":{"name":"max_scn","displayName":"max_scn","identifiesControllerService":false,"sensitive":false},"landing_schema":{"name":"landing_schema","displayName":"landing_schema","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"ddda8aca-b86e-3c0e-8da0-3526c791175f","instanceIdentifier":"2676d36f-6514-3659-8749-e85f9ee0e071","name":"lấy số scn lớn nhất","comments":"","position":{"x":1744.0,"y":2912.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"7eb0f78f-04ec-380b-8b6a-0463a04fb2f7","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"select NVL(max(ora_rowscn),0) src_scn from ${src_schema}.${src_table} a where ora_rowscn > ${max_scn}","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"72b89d81-20f1-3b57-92d8-2442b2c53579","instanceIdentifier":"299024cd-84a8-3fa1-9139-2b33ae1b6d2e","name":"lấy dữ liệu từ bảng  ở  oracle","comments":"","position":{"x":1728.0,"y":3888.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"11","Max Wait Time":"0 seconds","Database Connection Pooling Service":"7eb0f78f-04ec-380b-8b6a-0463a04fb2f7","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"select a.*, ora_rowscn src_scn,systimestamp LOAD_TIME  from ${src_schema}.${src_table} a where ora_rowscn > ${max_scn} and ora_rowscn <= ${new_max_src_scn}","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"0407f192-89dc-3609-92af-a1000951458a","instanceIdentifier":"d53b292d-9264-3a6e-bb8a-3e43e11f7e12","name":"LogMessage","comments":"","position":{"x":440.0,"y":3656.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"2586f0c3-2017-389f-a02d-0bdb79ec1198","instanceIdentifier":"ff801dc0-02fc-3e3e-8469-eb03527fb955","name":"SplitRecord","comments":"","position":{"x":432.0,"y":2968.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0"},"properties":{"Record Writer":"9388a925-2960-3d2d-888a-5418f7c96a18","Record Reader":"71aed148-73ca-3104-ae32-89398d636fb3","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"6df1fbd5-e795-3e6d-9261-f6257697a6c0","instanceIdentifier":"a0ae6571-3fa2-3982-962d-910dde404dfb","name":"","source":{"id":"62f311b6-ecf3-3747-a3e9-71b1aa496e21","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"cập nhật số scn etl job cho lần chạy tiếp theo","comments":"","instanceIdentifier":"c1075172-1e8c-3939-9e66-fb605d83be47"},"destination":{"id":"96d6a7d5-199a-3064-b8bd-cc6b349b2b73","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"LogAttribute","comments":"","instanceIdentifier":"a1210c21-010d-3d91-8f70-ff3a47503e70"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"114dc5c8-0235-319e-bb46-0095fdee0c98","instanceIdentifier":"306d00e6-019a-1000-ffff-fffff64a45c8","name":"","source":{"id":"72b89d81-20f1-3b57-92d8-2442b2c53579","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"lấy dữ liệu từ bảng  ở  oracle","comments":"","instanceIdentifier":"299024cd-84a8-3fa1-9139-2b33ae1b6d2e"},"destination":{"id":"5b9cefd4-4bd6-3a4c-ae06-e8e7c2424502","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"ConvertRecord","comments":"","instanceIdentifier":"306cbb1e-019a-1000-0000-00004972b8a5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"a56d608b-10ba-33f3-9f29-ab5883e28bc9","instanceIdentifier":"309144af-019a-1000-ffff-ffffcdda6429","name":"","source":{"id":"5b9cefd4-4bd6-3a4c-ae06-e8e7c2424502","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"ConvertRecord","comments":"","instanceIdentifier":"306cbb1e-019a-1000-0000-00004972b8a5"},"destination":{"id":"16b62159-f9d0-3268-a612-96132c987d0f","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"UpdateAttribute","comments":"","instanceIdentifier":"308f3772-019a-1000-0000-000000934c38"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"61ae6a8d-3c3e-3e34-8d1a-7dd90acb2c36","instanceIdentifier":"c81bf7e1-ab7d-310b-bbed-69102aec3e38","name":"","source":{"id":"ddda8aca-b86e-3c0e-8da0-3526c791175f","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"lấy số scn lớn nhất","comments":"","instanceIdentifier":"2676d36f-6514-3659-8749-e85f9ee0e071"},"destination":{"id":"85d073f6-65fe-3555-9642-1e3e3323f75f","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"dcff5969-820e-34c2-9269-dd3bcaaa35ff"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"cacdfc59-cad5-3ed8-8d76-05b17bf83ba5","instanceIdentifier":"8ccf33ae-cf9a-36d0-9d72-caac6fe4633d","name":"","source":{"id":"62f311b6-ecf3-3747-a3e9-71b1aa496e21","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"cập nhật số scn etl job cho lần chạy tiếp theo","comments":"","instanceIdentifier":"c1075172-1e8c-3939-9e66-fb605d83be47"},"destination":{"id":"0407f192-89dc-3609-92af-a1000951458a","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"LogMessage","comments":"","instanceIdentifier":"d53b292d-9264-3a6e-bb8a-3e43e11f7e12"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"f2df5a2c-9a4a-365e-a145-32f08d5e5c5a","instanceIdentifier":"29c88132-7070-333d-a940-d366abb14773","name":"","source":{"id":"96d6a7d5-199a-3064-b8bd-cc6b349b2b73","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"LogAttribute","comments":"","instanceIdentifier":"a1210c21-010d-3d91-8f70-ff3a47503e70"},"destination":{"id":"0407f192-89dc-3609-92af-a1000951458a","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"LogMessage","comments":"","instanceIdentifier":"d53b292d-9264-3a6e-bb8a-3e43e11f7e12"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"bab7787e-4216-3d33-b40e-351f7078ac54","instanceIdentifier":"1d202cc4-63a4-3960-86dc-0ac4eccbd06a","name":"","source":{"id":"3d5d4080-a137-3628-a246-0ae353e8acf7","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"phục vụ các biến để transform","comments":"","instanceIdentifier":"6124b3d5-6705-3c4d-8597-d1684eeb0fec"},"destination":{"id":"ddda8aca-b86e-3c0e-8da0-3526c791175f","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"lấy số scn lớn nhất","comments":"","instanceIdentifier":"2676d36f-6514-3659-8749-e85f9ee0e071"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"fad6026a-eae4-3d8c-ae6c-330040551fa2","instanceIdentifier":"8e46fa6e-d93e-3760-8035-32536b24041d","name":"","source":{"id":"4d6af398-5947-3aa4-b9a7-9863ee469cb7","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"48551724-1227-371b-b945-f897eb9e05ce"},"destination":{"id":"996b89e3-3134-3b3e-ba82-f460af47f7b0","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"RouteOnAttribute","comments":"","instanceIdentifier":"a50c2b85-427e-3852-adfd-fad873a0c129"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"1db5e8bc-f57b-36f2-80b4-8cbfa8e5b771","instanceIdentifier":"95313a5c-20a6-32b0-893a-b5b91c7bf4f4","name":"","source":{"id":"85d073f6-65fe-3555-9642-1e3e3323f75f","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"dcff5969-820e-34c2-9269-dd3bcaaa35ff"},"destination":{"id":"4d6af398-5947-3aa4-b9a7-9863ee469cb7","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"48551724-1227-371b-b945-f897eb9e05ce"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"ea0b24c8-627e-3436-ab69-9cc76714d522","instanceIdentifier":"30977098-019a-1000-ffff-ffffb884c96f","name":"","source":{"id":"16b62159-f9d0-3268-a612-96132c987d0f","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"UpdateAttribute","comments":"","instanceIdentifier":"308f3772-019a-1000-0000-000000934c38"},"destination":{"id":"42ca5896-425c-3881-ad46-44c9de715a2c","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"PutS3Object","comments":"","instanceIdentifier":"30975571-019a-1000-ffff-ffffdb971da4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"02068553-85e7-3d2b-bd1d-91131fee67c3","instanceIdentifier":"033956ad-08b1-303a-817e-e8fcf862193e","name":"","source":{"id":"f5a595b3-061b-37b1-b050-4e433082c204","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"merge vào bảng target","comments":"","instanceIdentifier":"ff02867b-fee5-3f55-9db7-9a758d040b4e"},"destination":{"id":"0407f192-89dc-3609-92af-a1000951458a","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"LogMessage","comments":"","instanceIdentifier":"d53b292d-9264-3a6e-bb8a-3e43e11f7e12"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"393b3d93-4215-3ca9-a49d-a5dc1c3ae464","instanceIdentifier":"1f9131ce-3c4e-3a4c-a271-e905ff5c7c42","name":"","source":{"id":"f5a595b3-061b-37b1-b050-4e433082c204","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"merge vào bảng target","comments":"","instanceIdentifier":"ff02867b-fee5-3f55-9db7-9a758d040b4e"},"destination":{"id":"62f311b6-ecf3-3747-a3e9-71b1aa496e21","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"cập nhật số scn etl job cho lần chạy tiếp theo","comments":"","instanceIdentifier":"c1075172-1e8c-3939-9e66-fb605d83be47"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"PARTITION_BY_ATTRIBUTE","partitioningAttribute":"src_table","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"fb712f31-7558-3d99-b613-eed2d4482e77","instanceIdentifier":"309ac858-019a-1000-0000-00007ef13bc8","name":"","source":{"id":"0552a76c-07f5-3e8a-9661-3b024d4f315d","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"ExecuteSQL","comments":"","instanceIdentifier":"30991957-019a-1000-0000-0000402f5ca3"},"destination":{"id":"f5a595b3-061b-37b1-b050-4e433082c204","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"merge vào bảng target","comments":"","instanceIdentifier":"ff02867b-fee5-3f55-9db7-9a758d040b4e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"3040d0e9-7e26-3bd1-a43b-13f9abe579cb","instanceIdentifier":"30992eec-019a-1000-ffff-ffffb179e2a6","name":"","source":{"id":"42ca5896-425c-3881-ad46-44c9de715a2c","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"PutS3Object","comments":"","instanceIdentifier":"30975571-019a-1000-ffff-ffffdb971da4"},"destination":{"id":"0552a76c-07f5-3e8a-9661-3b024d4f315d","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"ExecuteSQL","comments":"","instanceIdentifier":"30991957-019a-1000-0000-0000402f5ca3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"769f57ca-0833-34ce-94a2-7320c0a2988f","instanceIdentifier":"49680b04-1cf4-347c-8ef4-eb821b16a267","name":"","source":{"id":"e8234ea3-13fa-3870-b8cf-93ad237ac5d1","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"lấy danh sách bảng etl","comments":"","instanceIdentifier":"1299d37a-df71-3259-ba79-bbb4ababf870"},"destination":{"id":"5de6b82f-eac1-3d8e-b00c-d6e674b2e941","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"57f5d8a9-a9a3-3982-a5b8-875da273f0c5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"7eedaab0-4c7c-3156-a6da-36a37e8a48df","instanceIdentifier":"d0b28470-9abe-3758-9b66-e5d0403e78f7","name":"","source":{"id":"2586f0c3-2017-389f-a02d-0bdb79ec1198","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"SplitRecord","comments":"","instanceIdentifier":"ff801dc0-02fc-3e3e-8469-eb03527fb955"},"destination":{"id":"3d5d4080-a137-3628-a246-0ae353e8acf7","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"phục vụ các biến để transform","comments":"","instanceIdentifier":"6124b3d5-6705-3c4d-8597-d1684eeb0fec"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"5a1572eb-33fe-3642-b35c-256e884da967","instanceIdentifier":"7025a0f0-de40-38af-8724-64da64a1bf21","name":"","source":{"id":"996b89e3-3134-3b3e-ba82-f460af47f7b0","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"RouteOnAttribute","comments":"","instanceIdentifier":"a50c2b85-427e-3852-adfd-fad873a0c129"},"destination":{"id":"72b89d81-20f1-3b57-92d8-2442b2c53579","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"lấy dữ liệu từ bảng  ở  oracle","comments":"","instanceIdentifier":"299024cd-84a8-3fa1-9139-2b33ae1b6d2e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"4b90fe56-b060-3f74-b130-2688ec17d6ed","instanceIdentifier":"fcef3bda-4fbe-30c8-959f-314249ef3d01","name":"","source":{"id":"5de6b82f-eac1-3d8e-b00c-d6e674b2e941","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"ConvertAvroToJSON","comments":"","instanceIdentifier":"57f5d8a9-a9a3-3982-a5b8-875da273f0c5"},"destination":{"id":"2586f0c3-2017-389f-a02d-0bdb79ec1198","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"SplitRecord","comments":"","instanceIdentifier":"ff801dc0-02fc-3e3e-8469-eb03527fb955"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"},{"identifier":"0738a22b-2377-3bed-8ed6-cd8658e9d1f3","instanceIdentifier":"a433c5b6-112f-32b1-9365-a66d96331436","name":"","source":{"id":"996b89e3-3134-3b3e-ba82-f460af47f7b0","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"RouteOnAttribute","comments":"","instanceIdentifier":"a50c2b85-427e-3852-adfd-fad873a0c129"},"destination":{"id":"0407f192-89dc-3609-92af-a1000951458a","type":"PROCESSOR","groupId":"cdcb3733-30f5-344c-88d8-73f8688fe28f","name":"LogMessage","comments":"","instanceIdentifier":"d53b292d-9264-3a6e-bb8a-3e43e11f7e12"},"labelIndex":1,"zIndex":0,"selectedRelationships":["count_equals_0"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"808c23f7-4904-3d0a-9387-fe2904eadfc3","instanceIdentifier":"808c23f7-4904-3d0a-ade5-875f86488bd5","name":"DBCPConnectionPool_dremio","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.26.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.apache.arrow.driver.jdbc.ArrowFlightJdbcDriver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":"SELECT 1","Database Connection URL":"jdbc:arrow-flight-sql://192.168.1.159:32010/?useEncryption=false","dbcp-time-between-eviction-runs":"-1","Database User":"vaultadmin","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/java/flight-sql-jdbc-driver-18.3.0.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.26.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"cdcb3733-30f5-344c-88d8-73f8688fe28f"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{"a5ab32b1-4506-328c-a3ae-739c6e908326":{"identifier":"a5ab32b1-4506-328c-a3ae-739c6e908326","name":"connect_S3_minio"},"234bc3f1-7f38-36a9-bfe0-4c8d28c03176":{"identifier":"234bc3f1-7f38-36a9-bfe0-4c8d28c03176","name":"AvroReader_2"},"71aed148-73ca-3104-ae32-89398d636fb3":{"identifier":"71aed148-73ca-3104-ae32-89398d636fb3","name":"JsonTreeReader_DEMO"},"99a1538a-f96b-302c-a56c-750627585c68":{"identifier":"99a1538a-f96b-302c-a56c-750627585c68","name":"dremio_25"},"d8c370db-0ce4-322a-bd49-81096b8067f9":{"identifier":"d8c370db-0ce4-322a-bd49-81096b8067f9","name":"JsonRecordSetWriter_Compress"},"1b1b0725-8dcf-31c9-b91d-2557d3bfab9d":{"identifier":"1b1b0725-8dcf-31c9-b91d-2557d3bfab9d","name":"AvroRecordSetWriter"},"7eb0f78f-04ec-380b-8b6a-0463a04fb2f7":{"identifier":"7eb0f78f-04ec-380b-8b6a-0463a04fb2f7","name":"Oracle_58_DEMO"},"9388a925-2960-3d2d-888a-5418f7c96a18":{"identifier":"9388a925-2960-3d2d-888a-5418f7c96a18","name":"JsonRecordSetWriter_DEMO"}},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}